<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="UniEats - Order food from your university campus restaurants" />
  <title><%= typeof title !== 'undefined' ? title + ' | UniEats' : 'UniEats' %></title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <!-- Core CSS -->
  <link rel="stylesheet" href="/css/variables.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <%- style %>
</head>
<body>

  <%- include('../partials/navbar') %>

  <main id="main-content">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>
  <%- include('../partials/toast') %>

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Core JS -->
  <script src="/js/cart.js"></script>
  <script src="/js/main.js"></script>
  <%- script %>
</body>
</html>
